@model RealEstate.ViewModels.RentalsList

@{
    ViewBag.Title = "Rental listings";
}

<h2>Rental listings</h2>
@using (Html.BeginForm())
{
    <label for="PriceLimit">Price limit</label>
    <input type="text" name="PriceLimit" value="@Model.Filters.PriceLimit"/>
    <label for="MinimumRooms">Minimum rooms</label>
    <input type="text" name="MinimumRooms" value="@Model.Filters.MinimumRooms" />
    <input type="submit" value="Search"/>
}
<p>
    @Html.ActionLink("Post a rental", "Post")
</p>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Number of rooms
        </th>
        <th>
            Address
        </th>
        <th>
            Price
        </th>
        <th>Last adjustment</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var rental in Model.Rentals)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => rental.Description)
            </td>
            <td>
                @Html.DisplayFor(m => rental.NumberOfRooms)
            </td>
            <td>
                @string.Join(" ", rental.Address)
            </td>
            <td>
                @Html.DisplayFor(m => rental.Price)
            </td>
            <td>
                @rental.PriceAdjustments.Select(a => a.Describe()).LastOrDefault()
            </td>
            <td>
                @Html.ActionLink("Adjust price", "AdjustPrice", new { id = rental.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = rental.Id })
            </td>
        </tr>
    }
</table>